In [1]:
%load_ext sql

In [2]:
# creating databases
import csv, sqlite3

con = sqlite3.connect("pizzadb.db")
cur = con.cursor()

In [3]:
%sql sqlite:///pizzadb.db

In this notebook i have done the project by creating a tables and inserting data through sql.
In case of retrieving the datasets through csv we use pandas and different syantax.
It is easier to retrieve data through csv or any file formamt or directly sqlite.

In [4]:
%%sql

CREATE TABLE Pizzas (
	Pizza_id VARCHAR(50),
	Pizza_type_id VARCHAR(50),
	Size VARCHAR(50),
	Price VARCHAR(50)
);

CREATE TABLE Pizza_types (
    pizza_type_id VARCHAR(50),
    name VARCHAR(50),
    category VARCHAR(50),
    ingredients VARCHAR(50)
);

CREATE TABLE Orders(
    order_id VARCHAR(50),
    date VARCHAR(50),
    time VARCHAR(50)
);

CREATE TABLE Order_details(
    order_details_id VARCHAR(50),
    order_id VARCHAR(50),
    pizza_id VARCHAR(50),
    quantity VARCHAR(50)
);

 * sqlite:///pizzadb.db
Done.
Done.
Done.
Done.

[]