In [1]:
%load_ext sql

In [2]:
# creating databases
import csv, sqlite3

con = sqlite3.connect("pizza.db")
cur = con.cursor()

In [5]:
%sql sqlite:///pizza.db

In this notebook i have done the project by creating a tables and inserting data through sql.
In case of retrieving the datasets through csv we use pandas and different syantax.
It is easier to retrieve data through csv or any file formamt or directly sqlite.

In [6]:
%%sql

CREATE TABLE Pizzas (
	Pizza_id VARCHAR(50),
	Pizza_type_id VARCHAR(50),
	Size VARCHAR(50),
	Price VARCHAR(50)
);

CREATE TABLE Pizza_types (
    pizza_type_id VARCHAR(50),
    name VARCHAR(50),
    category VARCHAR(50),
    ingredients VARCHAR(50)
);

CREATE TABLE Orders(
    order_id VARCHAR(50),
    date VARCHAR(50),
    time VARCHAR(50)
);

CREATE TABLE Order_details(
    order_details_id VARCHAR(50),
    order_id VARCHAR(50),
    pizza_id VARCHAR(50),
    quantity VARCHAR(50)
);

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.
Done.
Done.
Done.

[]

In [7]:
import random
from datetime import datetime, timedelta
import sqlite3

# Connect to the SQLite database
# conn = sqlite3.connect('pizzas.db')
# cursor = conn.cursor()

# Data for Pizza_types
pizza_types = [
    ('PT1', 'Margherita', 'Vegetarian', 'Tomato, Mozzarella, Basil'),
    ('PT2', 'Pepperoni', 'Non-Vegetarian', 'Tomato, Mozzarella, Pepperoni'),
    ('PT3', 'BBQ Chicken', 'Non-Vegetarian', 'BBQ Sauce, Chicken, Mozzarella'),
    ('PT4', 'Hawaiian', 'Non-Vegetarian', 'Tomato, Mozzarella, Ham, Pineapple'),
    ('PT5', 'Veggie', 'Vegetarian', 'Tomato, Mozzarella, Vegetables')
]

# Insert into Pizza_types
cur.executemany('INSERT INTO Pizza_types VALUES (?, ?, ?, ?)', pizza_types)

# Data for Pizzas
sizes = ['Small', 'Medium', 'Large']
prices = {'Small': '8.99', 'Medium': '12.99', 'Large': '15.99'}
pizza_data = []

for i in range(1, 501):
    pizza_id = f'PZ{i:03d}'
    pizza_type_id = random.choice(pizza_types)[0]
    size = random.choice(sizes)
    price = prices[size]
    pizza_data.append((pizza_id, pizza_type_id, size, price))

# Insert into Pizzas
cur.executemany('INSERT INTO Pizzas VALUES (?, ?, ?, ?)', pizza_data)

# Data for Orders
start_date = datetime.now() - timedelta(days=30)
orders = []

for i in range(1, 501):
    order_id = f'O{i:03d}'
    date = (start_date + timedelta(days=random.randint(0, 29))).strftime('%Y-%m-%d')
    time = (datetime(1, 1, 1, random.randint(10, 22), random.randint(0, 59)).time()).strftime('%H:%M:%S')
    orders.append((order_id, date, time))

# Insert into Orders
cur.executemany('INSERT INTO Orders VALUES (?, ?, ?)', orders)

# Data for Order_details
order_details = []

for i in range(1, 1001):
    order_details_id = f'OD{i:04d}'
    order_id = random.choice(orders)[0]
    pizza_id = random.choice(pizza_data)[0]
    quantity = str(random.randint(1, 5))
    order_details.append((order_details_id, order_id, pizza_id, quantity))

# Insert into Order_details
cur.executemany('INSERT INTO Order_details VALUES (?, ?, ?, ?)', order_details)

# Commit changes and close connection
con.commit()
con.close()

In [8]:
%%sql SELECT * from Pizzas

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

In [9]:
%%sql

-- Count rows in each table
SELECT 'Pizzas' AS table_name, COUNT(*) AS row_count FROM Pizzas
UNION
SELECT 'Pizza_types', COUNT(*) FROM Pizza_types
UNION
SELECT 'Orders', COUNT(*) FROM Orders
UNION
SELECT 'Order_details', COUNT(*) FROM Order_details;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('Order_details', 1000), ('Orders', 500), ('Pizza_types', 5), ('Pizzas', 500)]

In [16]:
%%sql

SELECT * from Orders LIMIT 5;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('O001', '2024-07-25', '12:18:00'),
 ('O002', '2024-07-05', '11:50:00'),
 ('O003', '2024-07-15', '17:42:00'),
 ('O004', '2024-07-05', '17:14:00'),
 ('O005', '2024-07-01', '21:53:00')]

Analysis on based on questions

# Retrieve the total number of orders placed.

In [17]:
%%sql 
SELECT Count(*) As Total_orders FROM Orders;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[(500,)]

 ## Calculate the total revenue generated from pizza sales.

In [18]:
%%sql 
SELECT * from Pizza_types limit 5;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('PT1', 'Margherita', 'Vegetarian', 'Tomato, Mozzarella, Basil'),
 ('PT2', 'Pepperoni', 'Non-Vegetarian', 'Tomato, Mozzarella, Pepperoni'),
 ('PT3', 'BBQ Chicken', 'Non-Vegetarian', 'BBQ Sauce, Chicken, Mozzarella'),
 ('PT4', 'Hawaiian', 'Non-Vegetarian', 'Tomato, Mozzarella, Ham, Pineapple'),
 ('PT5', 'Veggie', 'Vegetarian', 'Tomato, Mozzarella, Vegetables')]

In [32]:
%%sql
SELECT * from Pizzas limit 10;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('PZ001', 'PT2', 'Medium', '12.99'),
 ('PZ002', 'PT4', 'Small', '8.99'),
 ('PZ003', 'PT5', 'Small', '8.99'),
 ('PZ004', 'PT2', 'Medium', '12.99'),
 ('PZ005', 'PT5', 'Large', '15.99'),
 ('PZ006', 'PT3', 'Small', '8.99'),
 ('PZ007', 'PT3', 'Medium', '12.99'),
 ('PZ008', 'PT3', 'Large', '15.99'),
 ('PZ009', 'PT1', 'Large', '15.99'),
 ('PZ010', 'PT2', 'Large', '15.99')]

In [20]:
%%sql
SELECT SUM(Price) as Total_price_sales from Pizzas;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[(6322.0,)]

In [24]:
%%sql 
SELECT * from Order_details limit 3;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('OD0001', 'O487', 'PZ234', '5'),
 ('OD0002', 'O236', 'PZ210', '1'),
 ('OD0003', 'O474', 'PZ216', '2')]

In [21]:
%%sql
SELECT SUM(P.Price * OD.quantity) AS total_revenue
FROM Order_details OD
JOIN Pizzas P ON OD.pizza_id = P.Pizza_id;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[(38096.82,)]

## Identify the highest-priced pizza:

#cast is used to convert a value from one data type to another here i used to convert from integer to decimal

In [39]:
%%sql 
SELECT name, P.Pizza_type_id, P.Size, MAX(CAST (Price AS DECIMAL)) AS highest_price
FROM Pizzas P
JOIN Pizza_types PT ON P.Pizza_type_id = PT.pizza_type_id
GROUP BY name
ORDER BY highest_price DESC
LIMIT 5;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('Veggie', 'PT5', 'Large', 15.99),
 ('Pepperoni', 'PT2', 'Large', 15.99),
 ('Margherita', 'PT1', 'Large', 15.99),
 ('Hawaiian', 'PT4', 'Large', 15.99),
 ('BBQ Chicken', 'PT3', 'Large', 15.99)]

Without CAST: The operation is performed on string data types, leading to string concatenation.
With CAST: The operation is performed on numeric data types, leading to numeric addition.

In [42]:
%%sql 
SELECT name, P.Pizza_type_id, P.Size, MAX(Price) AS highest_price
FROM Pizzas P
JOIN Pizza_types PT ON P.Pizza_type_id = PT.pizza_type_id
GROUP BY name
ORDER BY highest_price DESC
LIMIT 5;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('Veggie', 'PT5', 'Small', '8.99'),
 ('Pepperoni', 'PT2', 'Small', '8.99'),
 ('Margherita', 'PT1', 'Small', '8.99'),
 ('Hawaiian', 'PT4', 'Small', '8.99'),
 ('BBQ Chicken', 'PT3', 'Small', '8.99')]

## Identify the most common pizza size ordered:

In [48]:
%%sql
SELECT * from Order_details limit 3;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('OD0001', 'O487', 'PZ234', '5'),
 ('OD0002', 'O236', 'PZ210', '1'),
 ('OD0003', 'O474', 'PZ216', '2')]

In [54]:
%%sql
SELECT size,quantity, price, COUNT(*) AS count
FROM Order_details OD
JOIN Pizzas P ON OD.pizza_id = P.Pizza_id
GROUP BY size
ORDER BY count DESC
LIMIT 5;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('Small', '5', '8.99', 353),
 ('Large', '1', '15.99', 333),
 ('Medium', '2', '12.99', 314)]

## List the top 5 most ordered pizza types along with their quantities:

In [55]:
%%sql
SELECT PT.name, SUM(OD.quantity) AS total_quantity
FROM Order_details OD
JOIN Pizzas P ON OD.pizza_id = P.Pizza_id
JOIN Pizza_types PT ON P.Pizza_type_id = PT.pizza_type_id
GROUP BY PT.name
ORDER BY total_quantity DESC
LIMIT 5;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('BBQ Chicken', 732),
 ('Veggie', 646),
 ('Hawaiian', 607),
 ('Margherita', 565),
 ('Pepperoni', 468)]

## Join the necessary tables to find the total quantity of each pizza category ordered:

In [59]:
%%sql
SELECT name, category, SUM(od.quantity) as total_quantity_pizza_category 
from Order_details od
JOIN Pizzas p on od.pizza_id = p.Pizza_id
JOIN Pizza_types PT ON p.Pizza_type_id = PT.pizza_type_id
group by PT.category
order by total_quantity_pizza_category
limit 5;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('Veggie', 'Vegetarian', 1211), ('Hawaiian', 'Non-Vegetarian', 1807)]

In [58]:
%%sql
SELECT PT.category, SUM(OD.quantity) AS total_quantity
FROM Order_details OD
JOIN Pizzas P ON OD.pizza_id = P.Pizza_id
JOIN Pizza_types PT ON P.Pizza_type_id = PT.pizza_type_id
GROUP BY PT.category;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('Non-Vegetarian', 1807), ('Vegetarian', 1211)]

## Determine the distribution of orders by hour of the day:

In [60]:
%%sql
SELECT strftime('%H', time) AS hour, COUNT(*) AS total_orders
FROM Orders
GROUP BY hour
ORDER BY hour;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('10', 32),
 ('11', 40),
 ('12', 43),
 ('13', 50),
 ('14', 45),
 ('15', 45),
 ('16', 29),
 ('17', 44),
 ('18', 32),
 ('19', 34),
 ('20', 31),
 ('21', 42),
 ('22', 33)]

## Join relevant tables to find the category-wise distribution of pizzas:

In [61]:
%%sql
SELECT PT.category, COUNT(*) AS total_orders
FROM Order_details OD
JOIN Pizzas P ON OD.pizza_id = P.Pizza_id
JOIN Pizza_types PT ON P.Pizza_type_id = PT.pizza_type_id
GROUP BY PT.category;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('Non-Vegetarian', 599), ('Vegetarian', 401)]

## Group the orders by date and calculate the average number of pizzas ordered per day:

In [63]:
%%sql
SELECT date, AVG(quantity) AS average_pizzas_ordered
FROM Orders O
JOIN Order_details OD ON O.order_id = OD.order_id
GROUP BY date;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('2024-06-29', 2.875),
 ('2024-06-30', 3.0545454545454547),
 ('2024-07-01', 2.8518518518518516),
 ('2024-07-02', 2.75),
 ('2024-07-03', 2.9310344827586206),
 ('2024-07-04', 2.9148936170212765),
 ('2024-07-05', 3.051282051282051),
 ('2024-07-06', 3.111111111111111),
 ('2024-07-07', 2.413793103448276),
 ('2024-07-08', 3.129032258064516),
 ('2024-07-09', 3.15625),
 ('2024-07-10', 2.7142857142857144),
 ('2024-07-11', 3.1666666666666665),
 ('2024-07-12', 3.289473684210526),
 ('2024-07-13', 3.0833333333333335),
 ('2024-07-14', 3.02),
 ('2024-07-15', 3.125),
 ('2024-07-16', 3.1515151515151514),
 ('2024-07-17', 3.0),
 ('2024-07-18', 3.150943396226415),
 ('2024-07-19', 2.789473684210526),
 ('2024-07-20', 3.103448275862069),
 ('2024-07-21', 2.9),
 ('2024-07-22', 3.24),
 ('2024-07-23', 3.3684210526315788),
 ('2024-07-24', 3.0294117647058822),
 ('2024-07-25', 3.0),
 ('2024-07-26', 2.8214285714285716),
 ('2024-07-27', 3.1842105263157894),
 ('2024-07-28', 3.064516129032258)]

## Determine the top 3 most ordered pizza types based on revenue:

In [64]:
%%sql
SELECT PT.name, SUM(P.Price * OD.quantity) AS total_revenue
FROM Order_details OD
JOIN Pizzas P ON OD.pizza_id = P.Pizza_id
JOIN Pizza_types PT ON P.Pizza_type_id = PT.pizza_type_id
GROUP BY PT.name
ORDER BY total_revenue DESC
LIMIT 3;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('BBQ Chicken', 9012.68), ('Veggie', 8515.54), ('Margherita', 7354.35)]

## Calculate the percentage contribution of each pizza type to total revenue:

In [65]:
%%sql
WITH total_revenue AS (
    SELECT SUM(P.Price * OD.quantity) AS total_revenue
    FROM Order_details OD
    JOIN Pizzas P ON OD.pizza_id = P.Pizza_id
)
SELECT PT.name, SUM(P.Price * OD.quantity) / tr.total_revenue * 100 AS percentage_contribution
FROM Order_details OD
JOIN Pizzas P ON OD.pizza_id = P.Pizza_id
JOIN Pizza_types PT ON P.Pizza_type_id = PT.pizza_type_id, total_revenue tr
GROUP BY PT.name, tr.total_revenue;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('BBQ Chicken', 23.65730263050827),
 ('Hawaiian', 19.277015771920073),
 ('Margherita', 19.30436713615467),
 ('Pepperoni', 15.408950143345296),
 ('Veggie', 22.352364318071693)]

## Analyze the cumulative revenue generated over time:

In [66]:
%%sql
SELECT O.date, SUM(P.Price * OD.quantity) OVER (ORDER BY O.date) AS cumulative_revenue
FROM Orders O
JOIN Order_details OD ON O.order_id = OD.order_id
JOIN Pizzas P ON OD.pizza_id = P.Pizza_id;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-29', 1152.08),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-06-30', 3203.4),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-01', 4201.63),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-02', 5057.97),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-03', 6120.12),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-04', 7876.75),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-05', 9313.56),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-06', 10342.72),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-07', 11291.02),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-08', 12557.050000000001),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-09', 13809.04),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-10', 14892.09),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-11', 16047.14),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-12', 17639.89),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-13', 19056.78),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-14', 20993.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-15', 22205.27),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-16', 23653.23),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-17', 24603.45),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-18', 26828.78),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),
 ('2024-07-19', 28203.72),

## Determine the top 3 most ordered pizza types based on revenue for each pizza category:

In [67]:
%%sql
SELECT PT.category, PT.name, SUM(P.Price * OD.quantity) AS total_revenue
FROM Order_details OD
JOIN Pizzas P ON OD.pizza_id = P.Pizza_id
JOIN Pizza_types PT ON P.Pizza_type_id = PT.pizza_type_id
GROUP BY PT.category, PT.name
ORDER BY PT.category, total_revenue DESC
LIMIT 3;

 * sqlite:///pizza.db
   sqlite:///pizzadb.db
Done.

[('Non-Vegetarian', 'BBQ Chicken', 9012.68),
 ('Non-Vegetarian', 'Hawaiian', 7343.93),
 ('Non-Vegetarian', 'Pepperoni', 5870.32)]